.wayfarer-hint-marker {
  position: absolute;
  padding: 2px 4px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  border: 1px dashed #292524;
  border-radius: 2px;
  z-index: 999999;
}

.wayfarer-hint-marker--default {
  background: #fbbf24;
}

.wayfarer-hint-marker--focusable {
  background: #a3e635;
}
